Repository colmer/node-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --color, prettier --write --parser=json --print-width=1000000

.lintstagedrc:

{
  "**/*.js": ["prettier --write", "eslint --fix --color", "git add"],
  "**/*.json": ["prettier --write", "git add"],
  "./*.{*rc,json}": ["prettier --write --parser=json --print-width=1000000", "git add"]
}

Initial commit
  LICENSE
Due: none

добавлено readme.md, приведены в порядок исходники
  .env.example
  README.md
  package.json
  src/_bootstrap.js
  src/asd/constant.js
  src/include.js
  src/index.js
  src/test.js
Due: prettier --write, eslint --fix --color, prettier --write --parser=json --print-width=1000000

улучшен readme.md и .gitignore
  .gitignore
  README.md
Due: none

обработка завершения процесса для graceful shutdown
  package.json
  src/_bootstrap.js
  src/index.js
  yarn.lock
Due: prettier --write, eslint --fix --color, prettier --write --parser=json --print-width=1000000

add babel-eslint parser
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write, prettier --write --parser=json --print-width=1000000

ещё не готово
  .babelrc
  .eslintrc
  .idea/watcherTasks.xml
  .lintstagedrc
  README.md
  lint-staged.config.js
  package.json
  src/index.js
  yarn.lock
Due: prettier --write, eslint --fix --color, prettier --write --parser=json --print-width=1000000
